:root {

	--white: #D7D3D2;

}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	line-height: 1.618;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	text-decoration: none;	

}

.App {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2rem;
	align-items: center;
}

.clickable {
	flex: 1;
	cursor: pointer;
}
	.clickable:hover {
		color: white;
		background-color: rgba(0,0,0,0.5);
	}

#feature-selector-list {
	display: flex;
	justify-content: space-around;
}

#hero-image {
	max-width: 100vw;
}

#trailer-video {
	margin: 0 auto;
}