:root {

	--white: #D7D3D2;

}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	line-height: 1.618;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	text-decoration: none;	

}

img {
	max-width: 100%;
}

.App {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2rem;
	align-items: center;
}

.clickable {
	font-size: 1.5rem;
	flex: 1;
	cursor: pointer;
}
	.clickable:hover {
		color: white;
		background-color: rgba(0,0,0,0.5);
	}

.feature {
	max-width: 95%;
}

.screenshot {
	margin: 0 auto;
	max-width: 95%;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


#feature-selector-list {
	display: flex;
	justify-content: space-around;
}

#hero-image {
	max-width: 100vw;
}

#intro-section {
	max-width: 95%;
}

#trailer-video {
	margin: 0 auto;
}

